fastapi[all]
matplotlib
librosa
tqdm
pandas
numba
numpy
torch
scipy
setuptools
tensorboard
scikit-learn
transformers
datasets>=2.6.1
evaluate
jiwer
accelerate
pymongo[srv]==3.11 
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability